.App {
  text-align: center;
}

button {
  background: white;
  text-transform: uppercase;
  border-radius: 5px;
  margin: 10px;
}

main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
}

aside {
  background-color: #e3d4ef;
  grid-column: 1 / 2;
  display: grid;
  align-items: center;
}

aside button {
  font-size: 1em;
  padding: 5px;
  margin: 30px;
}

section {
  grid-column: 2 / 4;
  text-align: left;
  margin: 1em;
}

section .item-card {
  display: flex;
  flex-direction: column;
}

div .notes {
  font-size: 0.8em;
}

button.delete {
  font-size: 10px;
  border: none;
  color: red;
}
